@model IEnumerable<NewZelandWalks.UI.Models.DTO.RegionDto>

    @{
    }
    <h1 class="mt-3">Regions</h1>
    <div class="d-flex justify-content-end">
        <a class="btn btn-secondary" asp-controller="Regions" asp-action="Add">Add Region</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var walk in Model)
        {
            <tr>
                <td>@walk.Id</td>
                <td>@walk.Code</td>
                <td>@walk.Name</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Regions" asp-action="Update" asp-route-id="@walk.Id">Modife</a>
                    @* <a class="btn btn-warning" asp-controller="Regions" asp-action="Update(@walk.Id)">Update region</a> *@
                    <button class="btn btn-danger">Supprimer</button>
                </td>
            </tr>
        }
        </tbody>
    </table>